* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --stars-color: #ec9618;
  --main-padding: 60px;
}

input,
button,
textarea,
select {
  font: inherit;
  background-color: inherit;
  color: inherit;
}

.darkmode {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
  --stars-color: #e5981a;
}

.flex-center {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding-inline: 60px;
  margin-inline: auto;
}

.trim-1line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trim-2lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--body-text);
  overflow-y: scroll;
  overflow-x: hidden;
}

.website-header {
  justify-content: space-between;
  background-color: var(--bg_default);
  height: 82px;
}

header h1 {
  color: var(--brand-primary);
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.95;
}

nav ul {
  list-style: none;
  justify-content: flex-end;
  gap: 5px;
}

nav ul li button {
  border: 1.5px solid var(--lines-color);
  border-radius: 5px;
  justify-content: center;
  width: 130px;
  height: 35px;
  gap: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

li button ion-icon {
  font-size: 1rem;
}

.welcome {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: var(--bg_default);
  height: 130px;
  width: 100vw;
}

.triangle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
}
.triangle1 {
  left: 0;
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  clip-path: polygon(0% 0%, 90% 0%, 0% 100%);
  z-index: 2;
}

.triangle2 {
  right: 0;
  background-color: var(--brand-secondary);
  clip-path: polygon(10% 00%, 100% 100%, 100% 00%);
}

.welcome h2 {
  color: var(--brand-secondary);
  font-weight: 700;
  font-size: 25px;
  margin-top: 55px;
}

.welcome h3 {
  font-weight: 400;
  opacity: 0.8;
  font-size: 1.2rem;
  margin-top: -5px;
}
.main-content {
  background-color: var(--bg_body);
  padding-top: 25px;
}

.search {
  background-color: var(--bg_body);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0px 0px 5px 0px var(--lines-color);
  border-radius: 12px;
  overflow: hidden;
}

.search ::placeholder {
  font-size: 1.2rem;
  font-weight: 600;
}

.search .input-field {
  background-color: var(--bg_default);
  width: 72%;
  color: var(--body-text);
}
.input-field ion-icon {
  font-size: 1.3rem;
  margin-left: 15px;
}
.search .input-field input {
  font-size: 1.3rem;
  margin-left: 20px;
  border: none;
  flex: 1;
  outline: none;
}

.search label {
  display: block;
  font-size: 13px;
  margin-left: 5px;
  font-weight: 600;
}

.search select {
  border: none;
  width: 100%;
  font-size: 1rem;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}
.search-dropdown {
  border: none;
  text-align: left;
  width: 14%;
  padding: 10px 15px;
  background-color: var(--bg_default);
  position: relative;
  border-left: 1px solid var(--lines-color);
  cursor: pointer;
}

.number-of-results {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 800;
}

.cards-wraper {
  background-color: var(--bg_body);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  grid-auto-rows: 1fr;
}

.cards-wraper a {
  text-decoration: none;
  text-transform: none;
  color: var(--body-text);
}

.card {
  box-shadow: 0px 0px 3px 0px var(--lines-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  height: 50%;
  width: 100%;
  background-position-x: center;
}
.img-cover {
  object-fit: cover;
}
.card-description {
  background-color: var(--bg_default);
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.lang-type {
  font-weight: 600;
  font-size: 1rem;
}

.lang-name {
  font-weight: 800;
  font-size: 1.1rem;
}

.stars ion-icon {
  color: var(--stars-color);
  margin: 0;
  font-size: 1.2rem;
}

.stars {
  margin-top: auto;
  display: flex;
  gap: -3px;
}

.author {
  margin-top: 16px;
  font-weight: 600;
  opacity: 0.5;
}

footer {
  text-align: center;
  background-color: var(--bg_body);
  padding: 2em;
}

footer ion-icon {
  color: var(--heart-color);
  font-size: 2rem;
  position: relative;
  top: 8px;
}

nav li button:hover,
.search-dropdown:hover {
  background-color: var(--brand-secondary);
  cursor: pointer;
}

.favourites {
  height: 210px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: var(--bg_default);
  z-index: 99;
  box-shadow: 0px 0px 7px 1px var(--lines-color);
  display: none;
}

.favourites h3 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
}
.favourite-card-containrer {
  overflow-x: auto;
  display: flex;
  gap: 20px;
}
.favourite-card {
  border-radius: 5px;
  width: 140px;
  height: 130px;
  box-shadow: 0px 0px 7px 0px var(--lines-color);
  font-size: 0.8rem;
  flex: none;
  margin: 5px 2px;
}

.favourite-card img {
  object-fit: cover;
  height: 50%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.favourite-card h4 {
  font-weight: 700;
  margin-left: 5px;
  font-size: 1.1rem;
}

.favourite-card .stars {
  margin-left: 5px;
}

.favourite-card-containrer::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg_body);
}

::-webkit-scrollbar-thumb {
  background: var(--lines-color);
  height: 500px;
  border-radius: 5px;
}
.white-bg {
  background-color: #ffffff;
}
@media screen and (max-width: 900px) {
  .search .input-field {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid var(--lines-color);
  }
  .search-dropdown {
    width: 50%;
    height: 55px;
    border: none;
  }
  .filter-by {
    border-left: 1px solid var(--lines-color);
  }

  .triangle1,
  .triangle2 {
    height: 40%;
  }
}

@media screen and (max-width: 563px) {
  nav li span {
    display: none;
  }
  nav ul li button {
    width: 50px;
  }
  .container,
  .welcome {
    padding-inline: 15px;
  }
  .welcome{
    height: auto;
  }
  .welcome h2 {
    margin-top: 30px;
  }
  .triangle1,
  .triangle2 {
    height: 20%;
  }
 
  header h2 {
    font-size: 1.2rem;
  }
}
